<%= page_title "Пришли сообщения", :bg => 14 %>
<section class="bg-center">
<div class="container">
	<%= render @messages %>
</div>
</section>

<% content_for :switcher do %>
  <%= link_to 'Назад', root_path %>
<% end %>