<%= page_title "Сообщение", :subtitle => I18n.l(@message.created_at, :format => :long) %>

<section class="section">
    <div class="container">
        <div class="space-sm"></div>
				<%= @message.content %>
    </div>
</section>
		
<% content_for :switcher do %>
	<%= link_to 'Редактировать', edit_message_path(@message) %>
	<%= link_to 'Назад', messages_path %>
<% end %>
