<%= page_title "Изменить группу" %>
<div class="container">
	<h1>Заполните форму</h1>
	
  <%= render 'form' %>
</div>

<% content_for :switcher do %>
	<%= link_to 'Показать', @group %>
	<%= link_to 'Назад', groups_path %>
<% end %>
