<% bg ||= "12" %>
<!--===    HEADER     ===-->
<section class="bg-<%= bg %> bg-center bg-cover">
    <div class="bg-filter-v2 filling-section">
        <div class="v-center h-center text-center">
            <div class="section container">
                <h1 class="top-title"><%= title %></h1>
                <p class="big-subtitle text-light w800"><%= subtitle %></p>
                <div class="space-md"></div>
                <a href="#<%= scroll_to %>" class="scroll btn btn-default-trn btn-xlg">Вперед!</a>
            </div>
        </div>
    </div>
</section>
<!--===/END      HEADER     ===-->