<%= page_title "Изменить сведения о проекте" %>
<div class="container">
	<h1>Заполните форму</h1>
	
  <%= render 'form' %>
</div>

<% content_for :switcher do %>
	<%= link_to 'Показать', @project %>
	<%= link_to 'Назад', projects_path %>
<% end %>