<section class="container section margin-b30">
    <div class="row">	
			  <% categories.each do |category| %>
		        <div class="col-lg-4 col-sm-6">
		            <div class="float-box">
										  <%= link_to category do %>
					                <i class="fa icon-c fa-<%= category.icon.present? ? category.icon : "globe" %>"></i>
											<% end %>
			                <div class="float-text">
			                    <h3><%= category %></h3>
			                    <p><%= category.description %></p>
			                </div>
		            </div>
		        </div>
				<% end %>
    </div>
</section>