<div class="form-group">
  <%= f.label :src, :class => 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :src, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, :class => 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.text_area :description, :class => 'form-control', :rows => 3 %>
  </div>
</div>