<li>
    <i class="fa fa-envelope fa-fw"></i>
    <a href="mailto:idea@i-teco.ru">idea@i-teco.ru</a>
</li>
<li>
    <i class="fa fa-phone fa-fw"></i>
    +7 495 777-10-95
</li>
<li>
    <i class="fa fa-map-marker fa-fw"></i>
    г. Москва, ул. Кедрова, д.15. 117036
</li>