<li>
    <a href="https://twitter.com/i_teco" title="Следите за нами">
        <i class="fa fa-twitter"></i>
    </a>
</li>
<li>
    <a href="https://www.facebook.com/iteco.ru" title="Следите за нами">
        <i class="fa fa-facebook"></i>
    </a>
</li>
<li>
    <a href="http://www.youtube.com/channel/UCPj2v4mUEwz78tSCiIt5n4g" title="Следите за нами">
        <i class="fa fa-youtube-play"></i>
    </a>
</li>